POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
# This is the database url when using docker.
# For development ./api/.env is used with a different database url
# not sure if I can improve that.
DATABASE_URL=

NODE_ENV=
API_PORT=
#DISCORD_TOKEN=
#DISCORD_LOGGING=

# Docs
DOCS_PORT=
DOCS_HOST=
